body {
  max-width: 1920px;
  max-height: 1080px;
}

nav {
  float: right;
}

a {
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  font-family: "sans-serif";
  text-decoration: none;
  color: rgb(66, 66, 66);
}

a:hover
{
  text-decoration: underline;
}

.main {
  width: 400px;
  position: relative;
  margin: 0 auto;
}

#user_pic {
  border-radius: 25px;
}

#search_bar {
  width: 400px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 15px;
}

#logo {
  position: relative;
  left: 70px;
}

#search_btn {
  margin-left: 75px;
  margin-right: 25px;
}

/* #lucky_btn {
  margin-left: 50px;
} */
