body {
  display: grid;
  grid-template-rows: 20% 60% 20%;
}

/* The viewport code was nicked form Google's page. Bad boy! */

div#viewport {
  position: absolute;
  top: 0;
  width: 100%;
}

#viewport {
  min-height: 100%;
}


nav {
  /* This gets the nav bar back to the right w/o reversing the order, but I think I want to muck around with the content some more. */
  display: flex;
  justify-content: flex-end;
  grid-row-start: 1;
  grid-row-end: span 1;
}

a {
  padding: 20px 15px 10px 5px;
  font-weight: 500;
  font-size: 12px;
  font-family: "sans-serif";
  text-decoration: none;
  color: rgb(66, 66, 66);
}

a:hover
{
  text-decoration: underline;
}

.main {
  grid-row-start: 2;
  grid-row-end: span 1;
  width: 400px;
  position: relative;
  margin: 0 auto;
}

#user_pic {
  border-radius: 25px;
}

#search_bar {
  width: 400px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 15px;
}

#logo {
  position: relative;
  left: 70px;
}

#search_btn {
  margin-left: 75px;
  margin-right: 25px;
}

/* #lucky_btn {
  margin-left: 50px;
} */
