body {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  display: grid;
  grid-template-areas: "nav"
                       "main"
                       "footer";
  grid-template-rows: 30vh 35vh 35vh;
}

nav {
  /* This gets the nav bar back to the right w/o reversing the order, but I think I want to muck around with the content some more. */
  display: flex;
  justify-content: flex-end;
  grid-area: nav;
  margin-right: 10px;
}

a {
  padding: 20px 15px 10px 5px;
  font-weight: 500;
  font-size: 12px;
  font-family: "sans-serif";
  text-decoration: none;
  color: rgb(66, 66, 66);
}

a:hover
{
  text-decoration: underline;
}

.main {
  width: 400px;
  position: relative;
  margin: 0 auto;
  grid-area: main;
}

#user_pic {
  border-radius: 25px;
}

#search_bar {
  position: relative;
  right: 80px;
  width: 500px;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
  font-size: 15px;
}

#search_bar:focus {
  outline-width: 0; /* gets rid of outline when clicked */
}

#logo {
  position: relative;
  left: 70px;
}

.buttons input {
  padding: 11px 15px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  color: rgb(83, 83, 83);
  border: 0;
}

#search_btn {
  margin-left: 60px;
  margin-right: 15px;
}

footer {
  margin-top: -45px;
  padding: 25px 0px;
  border-top: 1px solid rgb(230, 230, 230);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(236, 236, 236);
  grid-area: footer;
}

#left-footer {
  display: inline-block;
  float: left;
  position: relative;
  bottom: 10px;
}

#right-footer {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 10px;
}
